.App {
  
  text-align: center;
  background-color: #fdfbfd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(91, 34, 224);
}

.img {
  background-position: top;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #1d7891;
}



.button {
  background-color:rgb(38, 38, 55);
  color:rgb(18, 26, 3);
}
.Card {
  

  margin: auto;
  text-align: center;
  background-color:red;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.LandingPage {
  margin: auto;
  border: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Button {
  color:rgb(161, 226, 31)
}